<h1 class="form-title">Benutzer Neu</h1>

<form name="user-new-form" method="post">
<input type="hidden" name="page_id" value="user">
<input type="hidden" name="action" value="new-save">
<table class="form-table">
	<tr>
		<td>Benutzername</td>
		<td><input type="text" name="username"></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Passwort</td>
		<td><input type="password" name="password"></td>
		<td>Passwort (wiederholt)</td>
		<td><input type="password" name="password-repeated"></td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td>Firma</td>
		<td><input type="text" name="company"></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Vorname</td>
		<td><input type="text" name="firstname"></td>
		<td>Nachname</td>
		<td><input type="text" name="lastname"></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="text" name="email"></td>
		<td>Website</td>
		<td><input type="text" name="website"></td>
	</tr>
	<tr>
		<td>Telefon</td>
		<td><input type="text" name="phone"></td>
		<td>Telefax</td>
		<td><input type="text" name="fax"></td>
	</tr>
	<tr>
		<td>Mobil</td>
		<td><input type="text" name="mobile"></td>
		<td>&nbsp;</td>
		<td>&nbsp;<td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td>Land</td>
		<td><input type="text" name="country"></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Plz / Stadt</td>
		<td><input type="text" name="zipcode"> <input type="text" name="city"></td>
		<td>Strasse</td>
		<td><input type="text" name="street"></td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td>Preisgruppe</td>
		<td>
			<select name="pricegroup_id">
				<tmpl_loop name="pricegroups">
				<option value="<tmpl_var name=id>"><tmpl_var name="name"></option>
				</tmpl_loop>
			</select>
		</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><input type="submit" value="Speichern"></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
</form>