<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>DAdmin - Domainnamenverwaltung</title>
  <link rel="stylesheet" href="assets/style.css" type="text/css">
  <script type="text/javascript" src="assets/jquery.js"></script>
  <script type="text/javascript" src="assets/jquery.corners.js"></script>
  <script type="text/javascript">
	  $(document).ready(function(){
		$('.rounded').corners();
	  });
  </script>
</head>
<body>
	<table id="caption-bar">
		<tr>
			<td id="logo-caption">
				DAdmin
			</td>
			<td id="user-bar">
				<a href="?page_id=logout">Logout</a>
			</td>
		</tr>
	</table>
	
	<table id="content">
		<tr>
			<td id="menu">
				
				<table class="menu-bottle rounded">
					<tr>
						<td class="menu-caption rounded">
							<a href="?page_id=dashboard">Dashboard</a>
						</td>
					</tr>
				</table>
				
				<div class="spacer">&nbsp;</div>
				
				<table class="menu-bottle rounded">
					<tr>
						<td class="menu-caption rounded">
							Domainname
						</td>
					</tr>
					<tr>
						<td class="menu-entries">
							<table>
								<tr>
									<td>- <a href="?page_id=domainname&amp;action=manage">&Uuml;bersicht</a></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				
			</td>
			<td id="maincontent">
			
			