<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>DAdmin - Domainnamenverwaltung</title>
  <link rel="stylesheet" href="assets/style.css" type="text/css">
</head>
<body>
	<table id="login-table">
		<tr>
			<td id="login-top">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td id="login-form">
					<table id="login-form-pane">
						<tr>
							<td id="login-form-left">&nbsp;</td>
							<td id="login-form-middle">
								<form name="login" method="post">
								<input type="hidden" name="action" value="do-login">
									<table style="margin:auto auto;text-align:left">
										<tr>
											<td>Benutzername</td>
											<td>&nbsp;</td>
											<td><input type="text" name="username"></td>
										</tr>
										<tr>
											<td>Passwort</td>
											<td>&nbsp;</td>
											<td><input type="password" name="password"></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
											<td><input type="submit" value="Login"></td>
										</tr>
									</table>
								</form>
							</td>
							<td id="login-form-right">&nbsp;</td>
						</tr>
					</table>
			</td>
		</tr>
		<tr>
			<td id="login-bottom">
				&nbsp;
			</td>
		</tr>
	</table>
</body>
</html>